* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
.header {
    background-color: #1f2937;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hleft .text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hleft .text2 {
    font-size: 18px;
    color:#e5e7eb
}

.logo img {
    margin: -5vw;
    width: 200px;
}
/* Information */
.title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.subtext {
    font-size: 18px;
    color: #1f2937;
}

.item img {
    border-radius: 15px;
}
/* testimonial */
.testimonial {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}
/* singup */
.banner {
    background-color: #3882f6;
}

.bleft .text {
    color: #f9faf8;
    font-weight: 800;
    font-size: 18px;
}

.bleft .text2 {
    color: #e5e7eb;

}
/* footer */
.footer{
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}
/* buttons */
button{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}

.hleft button {
    border: none;
    padding: 5px 15px;
}

.bright button {
    border: solid 1px;
    padding: 5px 17px;
}